.App {
  background: linear-gradient(to right,#1946f6,#df48c7);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

form{

  align-items: center;
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
}

.input_section{
  display: block;
  box-sizing: border-box;
}
.uiSection{
  width: 30vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
}

.input_section input{
  display: block;
  width: 40vw;
  height: 2rem;
  margin: auto;
  border: 1px solid transparent;
  border-radius: 5px;
}

.input_section button{
  display: block;
  margin: 0.5rem auto;
  width: 10rem;
  height: 3rem;
  border: 1px solid transparent;
  border-radius: 5px;
  font-weight: 600;
  background-image: linear-gradient(215deg, #00b712 0%, #5aff15 74%);
  cursor: pointer;
  box-shadow: 2px 2px 3px 0 black;
}

.display-logo{
  margin: 0%;
  width: 7rem;
  height: 7rem;
}